# ---- Arquivos de compilação Linux ----
*.o
*.out
a.out

# ---- Arquivos de compilação Windows ----
*.exe
*.obj
*.dll

# ---- Ignorar qualquer executável sem extensão (Linux)
*
# para ele não ignorar o .gitignore
!.gitignore
# para ele entrar nas pastas
!*/
# para pegar arquivos .c
!*.c
# para pegar arquivos .h
!*.h
# para pegar arquivos .md
!*.md
# para pegar arquivos .Makefile
!Makefile
!*.csv
!*.json
!*.txt

# ---- Pastas comuns de build ----
/bin/
/build/
/dist/

# ---- Arquivos temporários de editores ----
*~
*.swp
.DS_Store
Thumbs.db